/* adapted from google maps platform tutorial 
https://developers.google.com/maps/documentation/javascript/adding-a-google-map */

html, body {
	background-color: black;
	height: 100%;
	margin: 0px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

p.infoWin {
	color: #0f364a;
	width: 300px;
	text-align: center;
}

h1 {
	margin-top: 0px;
}

h3.infoWin {
	color: #0f364a;
    font-size: 20px;
	text-align: center;
}

#map {
  height: 100%;
}
